
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/*-------------------------------
configuracion general de index
---------------------------------*/
*{
    padding: 0; /*permite crear espacio por dentro del elemento*/
    margin: 0; /*permite crear espacio por fuera del elemento*/
}

html, body {
    overflow-x: hidden;/*permite ocultar el scroll horizontal*/
}

body{
    background: rgb(241, 237, 237);
     font-family: "Roboto", sans-serif;
}

/*--------------
estilo Encabezado
-------------*/
header{
    width: 100%;
    background: #2D2D2E;
    padding: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

    .logo {
    width: 40px;
    border-radius: 50%;
    margin-left: 100px;
}

header a {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px; /*left, right, top y bottom es una propiedad de CSS que sirve para posicionar un elemento horizontalmente desde en la direccion que se establece de su contenedor y funciona con position absolute, relative*/ 
}

h1{
    color: azure;
    font-size: 46px;
    text-align: center;
   font-family: "Roboto", sans-serif;
}
/*---------------------------
estilo del menu
---------------------------*/

.menu{
   width: 100%; 
   background: #E3DBDA ;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu li{
    position: relative;
}
.menu a{
    display: block;
    padding: 12px 18px;
    color: rgb(70, 70, 68);
    text-decoration: none;
    font-size: 20px;
}
.submenu{
    display: none !important;
    position: absolute;
    top: 100%;
    left: 0;
    background: #E3DBDA ;
    min-width: 160px;
    z-index: 9999;
}
.menu li:hover> .submenu{
    display: block !important;
}

.submenu li{
    display: block;
}

.submenu a{
    padding: 10px 15px;
}

.menu a:hover{
 background: linear-gradient(rgb(189, 228, 252), rgb(114, 109, 110));
}


/*-------------------
estilo del contenido
---------------*/
.contenido{
margin: 50px auto;
padding: 0 20px;
max-width: 1200px;
font-size: 16px;
line-height: 1.5;
text-align: justify;
column-gap: 80px;/*espacios que debe manejar entre las columnas*/
columns: 2;/* cantidad de columnas del texto*/
color: #4b4949;
}
.contenido h1{
    font-size: 34px;
    color: #4b4949;
    margin: 20px;
}

.contenido h2{
    font-size: 24px;
    color: #4b4949;
}

 .img-index{
    float: right;
    margin: 20px;
    width: 250px;
    max-width: 100%;
    border-radius: 5px;
 }

 .img-index:hover{
    animation: girar 9s linear;
 }

 /*regla para hacer girar la imagen al poner el mouse*/

 @keyframes girar{ 
    from{
        transform: rotate(0deg);
    }
    to{
         transform: rotate(360deg);
    }
 }
 
 .items_text h2{
    margin-top: 40px;
 }

 

/*--------------
estilo pie de pagina(fotter usando solo div como conetenedor)
-------------*/

footer {
    width: 100%;
    background: #2D2D2E;
    font-family: "Nanum Gothic Coding", monospace;
    padding: 40px 20px;
    box-sizing: border-box;
}

footer .contenedor-footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.info, .info1 {
    flex: 1;
    min-width: 280px;
}
.info1 {
    margin-left: 200px;
}

.titulo_footer1,
.titulo_footer2 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 15px;
}

.info p {
    color: #dcdce9;
    line-height: 1.6;
    text-align: justify;
}


footer a {
    color: #999;
    transition: 0.3s;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

.redes_sociales {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.redes_sociales i {
    font-size: 32px;
    color: #dad6d6;
    transition: 0.3s;
}

.redes_sociales i:hover {
    color: #5baede;
    transform: scale(1.5);
}
.direccion {
    width: 100%;
    margin: 40px auto;
    color: #d7dde3;
    text-align: center;
}
